#topmenu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 183, 255);
    overflow: hidden;
}
#topmenu li {
    float: left;
}
#topmenu a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    border-right: 1px white solid;
}
#topmenu a:hover{
    background-color: rgba(147, 205, 255, 0.705);
    border: 3px white solid;
    border-radius: 10px;
}
#leftmenu{
    width: 100px;
    background-color: blueviolet;
    float: left;
}
#leftmenu a{
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
    display: block;
    text-align: center;
    border: 1px white solid;
}
#leftmenu a:hover{
    border-radius: 10px;
    background-color: rgb(185, 111, 255);
}

#h1 {
    text-align: center;
}


#h3 {
    color: rgb(1, 122, 37);
}
#Forest{
    color: rgb(1, 122, 37);
}
/* tr:nth-child(even){
    background-color: blueviolet;
} */
tr:hover {
    background-color: rgba(160, 160, 255, 0.635);
}
#Vykoup{
    color: rgb(1, 122, 37);
}
#Pulp{
    color: rgb(1, 122, 37);
}
#Temny{
    color: rgb(1, 122, 37);
}
#panprd{
    color: rgb(1, 122, 37);
}

body {
    background-color: rgb(255, 255, 255);
}

.prav {
    text-align: right;
}

#p {
    text-align: left;
}


#forest {
    border: 2px rgb(0, 0, 0) solid;
    padding: 10px;
    border-color: rgb(167, 83, 83);
    border-radius: 1cm;
    margin: auto;   
    background-color:  rgb(250, 223, 223);                    
}

#text {
    color: brown;
}

td, th, table{
    border-collapse: collapse;
    border: 1px black solid;
}
td{
    padding: 5px;
}
th{
    background-color: blue;
    color: white;
}

#shaw {
    border: 2px rgb(0, 0, 0) solid;
    padding: 10px;
    border-color: rgb(167, 83, 83);
    border-radius: 1cm;
    margin: auto; 
    background-color: azure;                      
}
#pulp {
    border: 2px rgb(0, 0, 0) solid;
    padding: 10px;
    border-color: rgb(167, 83, 83);
    border-radius: 1cm;
    margin: auto;  
    background-color: rgb(231, 235, 175);                     
}
#temn {
    border: 2px rgb(0, 0, 0) solid;
    padding: 10px;
    border-color: rgb(167, 83, 83);
    border-radius: 1cm;
    margin: auto; 
    background-color: rgb(176, 245, 222);                      
}
#panp {
    border: 2px rgb(0, 0, 0) solid;
    padding: 10px;
    border-color: rgb(167, 83, 83);
    border-radius: 1cm;
    margin: auto;  
    background-color: rgb(222, 203, 247);                     
}

ul{
    list-style-type: disc;
    color: rgb(150, 76, 76);
}
ol{
    list-style-type: upper-roman;
}

ul li {
    color: rgb(3, 3, 139);
}
#obsah ul li{
    color: rgb(0, 0, 0);
}